.about-container {
    min-height: calc(100vh - 149px);
  .title-element {
    max-width: 100vw;
    font-family: Shadows Into Light Two;
    font-size: 40px;
    padding: 20px 40px;
  }

  .text-element {
    // width: 100vw;
    max-width: calc(100vw - 50px);
    font-family: Open Sans Condensed;
    text-align: justify;
    text-justify: inter-word;
    padding: 12px;
  }

  .subtitle-element {
    max-width: 100vw;
    font-family: Gloria Hallelujah;
    font-size: 30px;
    padding: 20px 40px;
  }

}
