<div class="header-toolbar" id="headerToolbar">
  <div class="menu-container" (click)="openSidenav()">    
    <svg viewBox="0 0 26 26" width="26px" height="26px">
      <g>
        <path d="M 0 4 L 0 6 L 26 6 L 26 4 Z M 0 12 L 0 14 L 26 14 L 26 12 Z M 0 20 L 0 22 L 26 22 L 26 20 Z " />
      </g>
    </svg>
  </div>
  Salome_
</div>
<div class="sidenav" id="sidenavPanel">
  <div class="sidenav-item" routerLink="/home" (click)="closeSidenav()">Home</div>
  <div class="sidenav-item" routerLink="/projects" (click)="closeSidenav()">Projects</div>
  <div class="sidenav-item" routerLink="/portfolio" (click)="closeSidenav()">Portfolio</div>
  <div class="sidenav-item" routerLink="/contact" (click)="closeSidenav()">Contact</div>
</div>
