<h1>Projects</h1>
<div class="gallery-container">
  <div class="gallery-row">
    <div class="gallery-item" style="width:100%" routerLink="/detail/0">
      <img src="assets/projectspics/pfc/emplazamiento.jpg">
      <div class="item-legend">
        Sada market
      </div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-item" style="width:60%" routerLink="/detail/1">
      <img src="assets/projectspics/isover/seccion.jpg">
      <div class="item-legend">
        Isover Saint Gobain
      </div>
    </div>
    <div class="gallery-item" style="width:40%" routerLink="/detail/2">
      <img src="assets/projectspics/stiches/china.png">
      <div class="item-legend">
        Stitches
      </div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-item" style="width:33%" routerLink="/detail/3">
      <img src="assets/projectspics/steelcase/exterior.png">
      <div class="item-legend">
        Steelcase Competition
      </div>
    </div>
    <div class="gallery-item" style="width:100%" routerLink="/detail/4">
      <img src="assets/projectspics/mexico/central.jpg">
      <div class="item-legend">
        Metropolitan lung of the east (México)
      </div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-item" style="width:50%" routerLink="/detail/5">
      <img src="assets/projectspics/emalcsa/montealto.jpg">
      <div class="item-legend">
        Emalcsa
      </div>
    </div>
    <div class="gallery-item" style="width:50%" routerLink="/detail/6">
      <img src="assets/projectspics/montealto/montealto.png">
      <div class="item-legend">
        Montealto market
      </div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-item" style="width:100%" routerLink="/detail/7">
      <img src="assets/projectspics/iacobus/seccion1.jpg">
      <div class="item-legend">
        Iacobus
      </div>
    </div>
  </div>
</div>
