<h1>Projects</h1>
<div class="gallery-container">
  <div class="gallery-row">
    <div class="gallery-item" routerLink="/detail/0">
      <img src="assets/pfc_emplazamiento.jpg">
      <div class="item-legend">
        Sada market
      </div>
    </div>
  </div>
  <div class="gallery-row double-size">
    <div class="gallery-item width-60" routerLink="/detail/1">
      <img src="assets/isover_seccion.jpg">
      <div class="item-legend">
        Isover Saint Gobain
      </div>
    </div>
    <div class="gallery-item width-40" routerLink="/detail/2">
      <img src="assets/stiches_china.jpg">
      <div class="item-legend">
        Stitches
      </div>
    </div>
  </div>
  <div class="gallery-row double-size">
    <div class="gallery-item width-33" routerLink="/detail/3">
      <img src="assets/steelcase_exterior.jpg">
      <div class="item-legend">
        Steelcase Competition
      </div>
    </div>
    <div class="gallery-item" routerLink="/detail/4">
      <img src="assets/mexico_central.jpg">
      <div class="item-legend">
        Metropolitan lung of the east (México)
      </div>
    </div>
  </div>
  <div class="gallery-row double-size">
    <div class="gallery-item width-50" routerLink="/detail/5">
      <img src="assets/emalcsa_montealto.jpg">
      <div class="item-legend">
        Emalcsa
      </div>
    </div>
    <div class="gallery-item width-50" routerLink="/detail/6">
      <img src="assets/montealto_montealto.jpg">
      <div class="item-legend">
        Montealto market
      </div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-item" routerLink="/detail/7">
      <img src="assets/iacobus_seccion1.jpg">
      <div class="item-legend">
        Iacobus
      </div>
    </div>
  </div>
</div>
