<div class="contact-data">
  <div class="title-element">
    Contact
  </div>
  <div class="contact-item">
    <div class="contact-description">Email:</div>
    <div class="contact-value">lucine.ellarian@gmail.com</div>
  </div>
  <div class="contact-item">
    <div class="contact-description">Telephone:</div>
    <div class="contact-value">+31 6 87938466</div>
  </div>
  <div class="contact-item">
    <div class="contact-description">LinkedIn:</div>
    <a class="contact-value" href="https://nl.linkedin.com/in/lucine-ellarian-21589b145/de">Lucine Ellarian</a>
  </div>
</div>