.contact-data {
  min-height: calc(100vh - 149px);
  display: flex;
  flex-direction: column;

  .title-element {
    max-width: 100vw;
    font-family: Shadows Into Light Two;
    font-size: 40px;
    padding: 20px 40px;
  }

  .contact-item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    // width: 200px;

    .contact-description {
      font-family: Gloria Hallelujah;
      text-align: right;
      width: 90px;
    }

    .contact-value {
      font-family: Open Sans Condensed;
      position: relative;
      top: 6px;
      text-align: left;
      padding-left: 15px
    }
  }
}
