.application-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 68px);

    .lateral-panel{
        width: 150px;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .panel-item{
            font-family: TecnicoBold;
            padding: 10px;
            cursor: pointer;
        }
    }
}