@font-face {
  font-family: 'Architect';
  src: url('./assets/architect.ttf');
}

@font-face {
  font-family: 'TecnicoBold';
  src: url('./assets/tecnico_bold.ttf');
}

@font-face {
  font-family: 'TecnicoRegular';
  src: url('./assets/tecnico_regular.ttf');
}

@font-face {
  font-family: 'TecnicoRegularItalic';
  src: url('./assets/tecnico_regularitalic.ttf');
}



body {
  margin: 0;
  background-color: #fafafa;
}

h1 {
  font-family: TecnicoBold;
  font-size: 3rem;
  line-height: 1;
}

div:active,
div:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
