
@font-face {
  font-family: 'Architect';
  src: url('./assets/architect.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'TecnicoBold';
  src: url('./assets/CODELight.otf');
}

@font-face {
  font-family: 'TecnicoRegular';
  src: url('./assets/CovesLight.otf');
}

@font-face {
  font-family: 'TecnicoRegularItalic';
  src: url('./assets/GaramondRegular.ttf');
}

body {
  margin: 0;
  background-color: #fafafa;
}

h1 {
  font-family: TecnicoBold;
  font-size: 3rem;
  line-height: 1;
}

div:active,
div:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
