<h1>
  Salomé Suárez Vilas
</h1>
<div class="home-container">
  <div class="image-container">
    <img src="assets/salo.jpg">
  </div>
  <div class="text-container">
    As I see, Architecture is, in essence, the image of true life, it is an art that defines and materialises the vital
    altmosphere, where physical experiences become emotional and sensory.
    I think that every time we immerse ourselves in an idea, we do not only face with the possibility of creating and
    experimenting with space, but also we transform and improve society. I belive in Architecture as a whole in
    continuous development, that it is able to provide new approaches based on analysis, involvement and knowledge, as
    essential steps to achieve true urban life; a complete experience which merges with all arts.
    That is the reason why , for me, being an architect implies the passion of all the ways of expression, and I
    consider that team work has a relevant importance, because only the variety of knowledge and the desire to learn
    will allow us to reach a complete spatial experience.
  </div>
</div>
